@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,800&display=swap&subset=latin-ext');
*{
    margin: 0;
    padding: 0;
    outline: none;
}
%container {
    width:80%;
    padding: 0 10%;
}
%flexDisplay {
    display: flex;
    justify-content: space-between;
}

// GENERAL

html, body{
height: 100%;
}

/* Style the Image Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(3, 3, 3, 0.7); 
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

.preview-container #image-container{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: 0 auto;
}
/* end img zoom */



// BODY

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #fff;
}

// LINKS

a{
    text-decoration: none;
    color: #000;
    transition: color 600ms ease;
    &:hover{
        color: #DF2904;
        text-decoration: none;
    }
}

// HEADER

header{
    @extend %flexDisplay;
    @extend %container;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.4);
    position: fixed;
    padding-top: 5px;
    font-weight: 600;
    z-index: 999;
img{
    width: 40px;
}
span{
    a{
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        margin-right:15px;
        @media (max-width:576px) {
            font-size: 12px;
        }
    }
    .upBtn{
        margin-right: 0;
    }
}

// #hidden-menu{
//     width: 150px;
//     padding-left: 50px;
//     position: fixed;
//     top: 0;
//     right: -300px;
//     height: 100vh;
//     background-color: rgba(165, 165, 165, 0.5);
//     z-index: 10;
//     padding-top: 10%;
//     text-transform: uppercase;
//     .close{
//     font-size: 25px;
//     float: top;
//     color: #000;
//     font-weight: bold;
//     cursor: pointer;
//     transition: color 600ms ease;
//     }
// }
}

// TOP SECTION

.block{
    width: 80%;
    background-image: url('https://images.unsplash.com/photo-1533378890784-b2a5b0a59d40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1021&q=80');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-position: left;
    padding: 10%;
    height: auto;
    margin-bottom: 30px;
    h1{
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        line-height: 45px;
        margin-top: 65px;
        @media (max-width: 576px) {
            font-size: 30px;
        }
    }
    h2{
        color: #DF2904;
        font-size: 25px;
        text-align: end;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 10px;
        margin-right: 20%;
        @media (max-width:576px) {
            line-height: 20px;
            font-size: 20px;
        }
    }
    p{
        color: rgb(197, 197, 197);
        font-size: 16px;
    }
.cert{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    img{
        width: 50px;
    }
}
}   

// gallery

.gallery{
    @extend %container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    div{
        cursor: pointer;
        margin-bottom: 10px;
        h4{
            color: #000;
            font-weight: 500;
        }
        p{

            color: #000;
            font-weight: 200;
            font-size: 12px;
        }
        img{
            max-width: 340px;
            @media (max-width:768px) {
                max-width: 300px;
            }
        }

    }
}

// FOOTER

footer{
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 5% 10%;
    background-image: url('https://images.unsplash.com/photo-1533378890784-b2a5b0a59d40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1021&q=80');
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-position: left;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    @media (max-width:576px) {
        justify-content: space-evenly;
        text-align: center;
        font-size: 15px;
       div{
        margin-top: 15px;
       }
    }
    img{
        max-width: 150px;
    }
    i{
        color: #000;
    }
    .cert {
        img{
        display: block;
        margin-top: 1%;
        width: 70px;
            }
        @media (max-width:576px) {
            display: flex;
        }
}
}