@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,800&display=swap&subset=latin-ext');
*{
    margin: 0;
    padding: 0;
    outline: none;
}
%container {
    width:80%;
    padding: 0 10%;
}
%flexDisplay {
    display: flex;
    justify-content: space-between;
}

// GENERAL

html, body{
height: 100%;
}

// BODY

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    // background-image: url('https://images.unsplash.com/photo-1533378890784-b2a5b0a59d40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1021&q=80');
    background-color:#fff;
    letter-spacing: 1px;
    color: #000;
}

// LINKS

a{
    text-decoration: none;
    color: #000;
    transition: color 600ms ease;
    &:hover{
        color: #DF2904;
        text-decoration: none;
    }
}

// HEADER

header{
    @extend %flexDisplay;
    @extend %container;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.57);
    position: fixed;
    padding-top: 5px;
    font-weight: 600;
    z-index: 999;
img{
    width: 40px;
}
span{
    a{
        text-transform: uppercase;
        cursor: pointer;
        margin-right:15px;
        @media (max-width:576px) {
            font-size: 12px;
        }
    }
    .upBtn{
        margin-right: 0;
    }
}
@media (max-width:576px) {
    width: 95%;
    padding: 1% 2.5%;
}
}

// TOP SECTION

.block{
    width: 100%;
    padding: 10% 0;
    margin-bottom: 5%;
    height: auto;
    background-image: url(../img/prod.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.342);
    background-blend-mode: lighten;
    h1{
        // font-size: 5rem;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        // letter-spacing: 10px;
        margin-top: 5%;
        color: rgb(0, 0, 0);
        @media (max-width:768px) {
            margin: 20% 0 10%;
            font-size: 3rem;
        }
    }
}   

// products

.products{
    width: 60%;
    margin: 0 20%;
    display: block;
    justify-content: space-around;
    p{
        font-weight: 400;
    }
    h3{
        text-transform: uppercase;
        text-align: center;
        word-spacing: 5px;
        letter-spacing: 3px;
        padding: 3%;
        font-weight: 600;
        border: 1px dotted #000;
    }
    @media (max-width:567px) {
        width: 95%;
        margin: 0 2.5%;
        h3{
            word-spacing: 1px; 
            letter-spacing: normal;
        }
    }
    .product{
        div{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding:1%;
            margin-bottom: 1%;
            text-align: center;
            font-size: 12px;
            >div{
                display: block; 
                align-items: center;
                height: 300px;
                border: 1px dotted #c6c6c6;
                width: 40%;

            @media (max-width:768px) {
                height: 300px;
            }
            @media (max-width:567px) {
                height: auto;
                width: 100%;
                border: 0;
                margin-bottom: 8%;
            }
        }

            @media (max-width:576px) {
                display: block;
            }

            img{
                max-width: 100%;
                height: 200px;
                object-fit: scale-down;
                background-color: #fff;
                @media (max-width:768px) {
                    width: 150px;
                    height: 150px;
                }
                @media (max-width:576px) {
                    height: 100px;
                    width: 100%;
                }
            }

            h5{
                text-transform: uppercase;
                font-size: 20px;
                margin-right: 30px;
            }
        }
        .specialties{flex-wrap: wrap;}
    }
}

// footer

footer{
    justify-content: space-around;
    padding: 5% 20%;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 1px dotted #000;
    h2{font-weight: 500;}
    @media (max-width:576px) {
        padding: 5% 10%;
        display: block;
       div{
        margin-top: 20px;
       }
       h2{font-size: 18px;}
    }
}